
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    #pergunta{
      font-size: 1.3rem;
      text-align: left;

    }
    #pergunta1{
      font-size: 1.3rem;
      text-align: left;

    }
    #pergunta2{
      font-size: 1.3rem;
      text-align: left;

    }
    #pergunta3{
      font-size: 1.3rem;
      text-align: left;

    }
    #pergunta4{
      font-size: 1.3rem;
      text-align: left;

    }
    #pergunta5{
      font-size: 1.3rem;
      text-align: left;

    }
  </style>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Home
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./assets/css/now-ui-kit.css?v=1.3.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
</head>
<script>

</script>
<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <h5>
          AEV - Biologia
        </h5>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-neutral" href="https://www.creative-tim.com/product/now-ui-kit-pro" target="_blank">
              
              <p>Questão randômica</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="now-ui-icons users_single-02"></i>
              <p>Perfil</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/login-page.html" onclick="scrollToDownload()">
              <i class="now-ui-icons ui-1_simple-remove"></i>
              <p>Sair</p>
            </a>
          </li>
          
          
          
        </ul>
      </div>
    </div>
  </nav>

  <div class="wrapper" style="text-shadow: black 2px 2px 5px;">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/header.jpg');">
      </div>
      <div class="container">
        <div class="content">
          <h2 id="titulo" style="margin-top: 50px;">O ouro do século 21</h1>
          <h1 id="pergunta" style="margin-bottom: 0px;">
Cério, gadolínio, lutécio, promécio e érbio; sumário, térbio e disprósio; hólmio, túlio e itérbio. Essa lista de nomes esquisitos e pouco conhecidos pode parecer a escalação de um time de futebol, que ainda teria no banco de reservas lantânio, neodímio, praseodímio, európio, escândio e ítrio. Mas esses 17 metais, chamados de terras raras, fazem parte da vida de quase todos os humanos do planeta. Chamados por muitos de “ouro do século 21”, “elementos do futuro” ou “vitaminas da indústria”, eles estão nos materiais usados na fabricação de lâmpadas, telas de computadores, tablets e celulares, motores de carros elétricos, baterias e até turbinas eólicas. Apesar de tantas aplicações, o Brasil, dono da segunda maior reserva do mundo desses metais, parou de extraí-los e usá-los em 2002. Agora, volta a pensar em retomar sua  exploração.</h1>
          <h6 style="text-align: right;">SILVEIRA, E. Disponível em: www.revistaplaneta.com.br. Acesso em: 6 dez. 2017 (adaptado).</h6>
          <h4 style="font-size: 20px; text-align: left;">As aspas sinalizam expressões metafóricas empregadas intencionalmente pelo autor do texto para:</h4>
          <div style="text-align: left">
          <h1 id="pergunta1" style="margin-bottom: 10px;">a)  imprimir um tom irônico à reportagem.</h1>
          <h1 id="pergunta2" style="margin-bottom: 10px;">b)  incorporar citações de especialistas à reportagem.</h1>
          <h1 id="pergunta3" style="margin-bottom: 10px;">c)  atribuir maior valor aos metais, objeto da reportagem.</h1>
          <h1 id="pergunta4" style="margin-bottom: 10px;">d)  esclarecer termos científicos empregados na reportagem.</h1>
          <h1 id="pergunta5" style="margin-bottom: 0px;">e)  marcar a apropriação de termos de outra ciência pela reportagem.</h1>
          <br>
          <button class="btn btn-primary btn-round" style="text-align: left; font-size: 1rem" >Ver Resposta</button><br>
          <div style="text-align: center;">
          <a class="btn btn-default" href="#" style="text-align: left; font-size: 1rem" data-toggle="tooltip" data-placement="left" title="Voltar para a questão anterior"><i class="now-ui-icons arrows-1_minimal-left" style="font-size: 15px;"></i></a>
          <a class="btn btn-default" href="#"style="text-align: left; font-size: 1rem" data-toggle="tooltip" data-placement="right" title="Ir para a próxima questão"><i class="now-ui-icons arrows-1_minimal-right" style="font-size: 15px;"></i></a>
        </div>
        </div>
        <br>
          
        </div>

        
      </div>
    </div>

            <!-- End Navbar Danger -->
            <!-- Navbar Transparent -->
           
            <!-- End Navbar Transparent-->
          
      <!-- End .section-navbars  -->
      
            
        
      <!-- End Section Tabs -->
    
      
      <!--  end notifications -->
      <!-- Typography -->
      
    
      
      
      
      
      
     
    </div>
    <!-- Sart Modal -->
    
    <!--  End Modal -->
    <!-- Mini Modal -->
    
    <!--  End Modal -->
    
  </div>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.3.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>

</html>